:root {
	--icons-cropper-max-width: 600px;
	--icons-cropper-margin: 10px auto;
}

.cropper-input-image-container {
	max-width: var(--icons-cropper-max-width);
}

.cropper-input-image {
	width: 100%;
	height: auto;
	display: inline-block;
	max-width: var(--icons-cropper-max-width);
}

.file-input-has-cropper + .cropper-input {
	margin: var(--icons-cropper-margin);
}
